*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rebug{
  background-color: red;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  height: 300px;
  border: 1px solid purple;
}
.container::after{
  content: "";
  display: table;
  clear: both;
}
