.container{
  background-color: pink;
}

[class*="col-"]{
  border: 1px solid black;
  text-align: center;
  height: 200px;
  line-height: 200px;
}
.nested{
  width: 100%;
  background-color: purple;
}
.debug [col*="col-"]{
  padding:2px;
 }
