.container{
  background-color: pink;
}

[class*="col-"]{
  border: 1px solid black;
  text-align: center;
  height: 200px;
  line-height: 200px;
}
.nested{
  margin: 1px;
  background-color: purple;
}
.col-2 .nested{
  width: calc[((100% / 12) *2 )- 4px]
}
.col-8 .nested{
  width: calc[((100% / 12) *8 )- 4px]
}
